<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Restname:</strong>
    <%= restaurant.restname %>
  </p>

  <p>
    <strong>Restaddress:</strong>
    <%= restaurant.restaddress %>
  </p>

  <p>
    <strong>Restemail:</strong>
    <%= restaurant.restemail %>
  </p>

  <p>
    <strong>Restnumber:</strong>
    <%= restaurant.restnumber %>
  </p>

</div>
